.register-container{
    display:flex;
    margin-left: 8vh;

}
input{
    border-radius: 5px;
    padding: 6px;

    font-size: 0.9em;
}
.register-container .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.register-container .container h3{
    margin-left: 27vh;
    margin-bottom: 10vh;
}
.register-container .container form{
    display: inline-block;
    margin-bottom: 5vh;
    padding: 30px;
}
.register-container .container form .main-content{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;
  
    margin-top: 3vh;
    margin-left: 3vh;
}

.register-container .container form .projeto-social,
.register-container .container form .universitario,
.register-container .container form .orquestra,
.register-container .container form .professor{
    display: none;
    grid-template-columns: 200px 200px;
    gap: 10px;

    margin-left: 4.5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.register-container .container form .radio-group h4{
    margin-left: 4vh;
    margin-top: 3vh;
}
.register-container .container form .how{
    display: inline-block;
    margin-top: 2vh;
}
.register-container .container form .how h4,
.register-container .container form .how #como{
    margin-left: 4vh;
    margin-top: 3vh;
}
.register-container .container form .how #como{
    margin-right: 2vh;
}
.register-container .container form .radio-group label{
    margin-left: 4vh;
}
.register-container .container textarea{
    margin-top: 5vh;
}
.register-container .container h2{
    margin-top: 2vh;
    margin-left: 25vh;
}

.register-container button{
    width: 200px;
    height: 60px;
    margin-top: 3vh;
    background-color: brown;
    color: white;
    border-radius: 7px;

    transition: 0.8s;
}
.register-container button:hover{
    background-color: white;
    color: brown;
}



