.navBar {
    background-color: #d8423c;
}

#nav-mobile li {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

#nav-mobile {
    margin-right: 5vh;
}

.brand-logo {
    height: 50px;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {

    .brand-logo {
        margin: 0;
        margin-top: 1vh;
    }

}

@media only screen and (max-width: 700px) {

    .brand-logo {
        margin: 0;
        margin-top: 0.5vh;
    }

}