
    .calendar {
        background-color: burlywood;
        width: 20%;
        margin-left: 10vw;
        z-index: 0;
        position: relative;
    }
    
    .calendar>input, .calendar>button {
        font: inherit;
    }
  
    header {
        background-color: white;
        padding: 20px;
        color: black;
        position: relative;
        z-index: 0;
    }

    header>h1 {
        margin: 0;
        font: 200 25px 'Barlow', sans-serif !important;
        text-align: left !important;
    }

    .bloco-legenda {
        background-color: white;
        padding-top: 5vh;
        display: inline-flex;
        padding-bottom: 7vh;
    }

    .graphic {
        width: 10%;
        margin-top: 2px;
    }

    .legenda {
        width: 85%;
    }

    .legenda>h4 {
        margin: 0;
        font: 400 13px 'Barlow', sans-serif !important;
        text-align: right !important;
        color: #d8423c;
        margin-top: 1vh;
    }
  
    .calendar-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 10px 0;
        padding: 10px;
        z-index: 0;
    }

    .calendar-container>*>* {
        margin: 10px;
    }
  
    .calendar-content {
        display: flex;
        max-width: 100%;
        flex-basis: 420px;
        flex-direction: column;
        flex-grow: 100;
        align-items: stretch;
        padding-top: 1em;
        z-index: 0;
    }

    .react-calendar {
        margin: 0 auto;
    }

    .react-calendar__month-view__weekdays__weekday>* {
        text-decoration: inherit !important;
    }

    .react-calendar__navigation>*, .react-calendar__month-view__days>*, .react-calendar__year-view__months>*, .react-calendar__decade-view__years>*, .react-calendar__century-view__decades>* {
        background-color: inherit;
        border: none;
    }

    .react-calendar__month-view__days>*, .react-calendar__year-view__months>*, .react-calendar__decade-view__years>*, .react-calendar__century-view__decades>* {
        color: #d8423c;
    }

    .react-calendar__navigation>* {
        color: black;
    }

    .proglink {
        text-decoration: inherit;
        color: black;
        font: 300 16px 'Barlow', sans-serif !important;
    }

    .foo {
        float: right;
        width: 17px !important;
        height: 17px !important;
        margin-top: 6px;
    }
    
    .blue {
        background: darkblue;
    }

    .green {
        background: green;
    }

    .gold {
        background: gold;
    }
    
    .purple {
        background: purple;
    }
    
    .wine {
        background: darkred;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1199px) {

        .calendar {
            margin-top: -14vh;
        }

    }

    @media only screen and (min-width: 1200px) {

        header>h1 {
            font: 200 35px 'Barlow', sans-serif !important;
        }

        .calendar {
            margin-top: -20vh;
        }

        .foo {
            margin-top: 8px !important;
        }

        .legenda>h4 {
            font: 400 15px 'Barlow', sans-serif !important;
        }
    
    }

    @media only screen and (min-width: 701px) and (max-width: 999px) {

        .calendar {
            width: 30%;
            margin-left: 0 !important;
            margin-top: -26vh;
        }

        .foo {
            margin-top: 4px;
        }

    }

    @media only screen and (max-width: 700px) {

        .calendar {
            width: 100%;
            margin-left: 0;
            margin-top: 0;
        }
    }