.thumbs-wrapper, .carousel-status {
    display: none;
}

.carousel {
    height: 0px !important;
}

.carousel-root {
    position: relative;
    width: 70% !important;
    height: 465px !important;
    margin-right: 0 !important;
}

.carousel-slider {
    margin-bottom: 0 !important;
    height: 465px !important;
}

.control-dots {
    width: auto !important;
    right: 1vw !important;
}

.img {
    height: 465px !important;
}

.animated {
    height: 100% !important;
}

.legend {
    width: 30% !important;
    left: 5vw !important;
    margin-left: 0 !important;
    border-radius: 0 !important;
    top: 10vh !important;
    height: 170px !important;
    font: 300 16px 'Barlow', sans-serif !important;
    transition: none !important;
    opacity: 0.6 !important;
    color: white !important;
    line-height: 0.9em !important;
}

.text-legend {
    font: 300 12px 'Barlow', sans-serif !important;
}

@media only screen and (min-width: 1200px) {

    .legend {
        height: 130px !important;
    }

}

@media only screen and (min-width: 1000px) {

    .carousel {
        height: 90vh;
    }

    .carousel img, .carousel .slide img {
        height: 90vh;
    }
}

@media only screen and (min-width: 701px) and (max-width: 999px) {

    .carousel {
        height: 50vh;
    }

    .carousel img, .carousel .slide img {
        height: 50vh;
    }

    .legend {
        height: 125px !important;
        width: 60% !important;
    }
}

@media only screen and (max-width: 700px) {

    .carousel {
        height: 30vh;
    }

    .carousel img, .carousel .slide img {
        height: 30vh;
    }

    .carousel-root {
        width: 100% !important;
    }

    .legend {
        width: 90% !important;
        height: 120px !important;
    }
}