.texto {
    margin-top: 3vh;
}

.campos {
    text-align: left !important;
}

textarea {
    min-height: 15vh;
    width: 100%;
}

.contato {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.title {
    margin-top: 5vh;
    margin-bottom: 3vh;
}