.texto {
    margin-top: 3vh;
}

.campos {
    text-align: left !important;
}

textarea {
    min-height: 15vh;
    width: 100%;
}

.row {
    align-items: center;
    display: block;
    text-align: center;
}

.title {
    margin-top: 5vh;
    margin-bottom: 3vh;
}