@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font: 400 14px 'Barlow', sans-serif;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    margin-top: 90px;
}

button {
    cursor: pointer;
}

input, button, textarea {
    font: 400 18px 'Barlow', sans-serif;
}

.container {
    margin: 0 !important;
    width: 80% !important;
    padding-left: 20% !important;
    padding-right: 20% !important;
    font-size: 1.2em;
}

@media only screen and (min-width: 1200px) {

    .container {
        padding-left: 7vw !important;
        padding-right: 7vw !important;
    }

}

.container>.link {
    text-decoration: inherit;
    color: #d8423c;
    font: inherit;
}

.row {
    text-align: center;
}