.about {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.title {
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.modulos {
    text-align: left !important;
}

@media only screen and (max-width: 700px) {
    .row>img {
        height: 20vh;
    }
}