.row {
    align-items: center;
    display: block;
    text-align: center;
}

.title {
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.modulos {
    text-align: left !important;
}

@media only screen and (max-width: 700px) {
    .row>img {
        height: 20vh;
    }
}